.Container {
  height: 28%;
  width: 95%;
  padding: 5px 10px;
  color: rgb(158, 161, 170);
  box-shadow: inset 0 0 10px black;
  border-radius: 10px;
  background-color: #141618;
  overflow: auto;
  white-space: pre-wrap;
}
.Container h1 {
  text-align: center;
  padding: 10px 0;
}
.hints {
  height: 40%;
}