#Buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6%;
  width: 100%;
}
#Buttons button {
  height: 50px;
  min-width: 100px;
  padding: 0 20px;
  color: rgb(131, 134, 150);
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(23, 29, 37);
  cursor: pointer;
}
#Buttons button:hover {
  color: rgb(38, 39, 44);
  background-color: rgb(130, 141, 157);
}
#Buttons button:active {
  color: rgb(161, 165, 182);
  background-color: rgb(42, 46, 51);
}
#buttons-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 6%;
  width: 92%;
}
#buttons-challenges {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 10% 0 4%;
  grid-column: 1;
}
#buttons-code {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 4% 0 8%;
  grid-column: 2;
}