#CodeBox {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #151722;
  overflow-y: auto;
  box-shadow: inset 0 0 5px #444d7c;
}
#CodeBox textarea {
  padding: 20px !important;
  outline: none;
}
#CodeBox pre {
  padding: 20px !important;
}
#run-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 25%;
  right: 5%;
  height: 50px;
  width: 100px;
  border: 2px solid var(--light-green);
  border-radius: 5px;
  background-color: var(--green);
  opacity: .7;
  cursor: pointer;
}
#run-button:hover {
  opacity: 1;
}
#run-button:active {
  background-color: rgb(16, 66, 16);
}